﻿@page "/"
@using MSSQL.Data
@using Microsoft.EntityFrameworkCore
@using MSSQL.Controllers

<PageTitle>Home</PageTitle>

<h1>Halaman Index</h1>

@foreach (var employee in employees)
{
    <p>@employee.EmployeeId</p>
    <p>@employee.Name</p>
    <p>@employee.DepartmentId</p>
}

<form action="" method="post" asp-antiforgery="false">
    <input type="text" name="name" id="name" placeholder="Zaqiikhwan">
    <br>
    <label for="depart">Choose a Department:</label>

    <select name="depart" id="depart">
        <option value="IT">IT</option>
        <option value="Software Engineer">Saab</option>
        <option value="Devops">Mercedes</option>
        <option value="BE">Audi</option>
    </select>
    <button type="submit">Submit</button>
</form>



@inject AppDbContext dbContext
@code {
    List<Employee> employees = new List<Employee>();
    protected override async Task OnInitializedAsync()
    {
        employees = await dbContext.Employees.ToListAsync();
    }
}